@using Microsoft.AspNetCore.Http
@model IEnumerable<dynamic>


<h1>Users</h1>

<form method="get" action="@Url.Action("ListAll", "Admin")">
    <input type="text" name="searchString" placeholder="Search..."
           value="@ViewContext.HttpContext.Request.Query["searchString"]" />

    <select name="sortOrder" id="sortOrder">
        <option value="username_asc">Username (A-Z)</option>
        <option value="username_desc">Username (Z-A)</option>
        <option value="numOfposts_asc">Fewest Posts</option>
        <option value="numOfposts_desc">Most Posts</option>
        <option value="role_asc">Role (A-Z)</option>
        <option value="role_desc">Role (Z-A)</option>
    </select>

    <button type="submit">Search in Users</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var sortOrder = '@ViewBag.SortOrder';  
        var selectElement = document.getElementById('sortOrder');
        
        for (var i = 0; i < selectElement.options.length; i++) {
            if (selectElement.options[i].value === sortOrder) {
                selectElement.selectedIndex = i;
                break;
            }
        }
    });
</script>

@foreach (var item in Model)
{
    var user = item.User;
    var latestPost = item.LatestPost;

    <div>
        <h2>@user.username</h2>
        <p>Number of Posts: @user.numOfposts</p>
        <p>Role : @user.role</p>

        @if (latestPost != null)
        {
            <div>
                <h3>Latest Post</h3>
                <p>@latestPost.title</p>
                <small>Posted on @latestPost.createdAt.ToString("g")</small>
                <small>Verified: @latestPost.isVerified</small>
                <p>❤️ @latestPost.hearts</p>
                <p>
                    <a href="@Url.Action("Verify", "Admin", new { id = latestPost.id })">Verify</a> |
                    <a href="@Url.Action("Delete", "Posts", new { id = latestPost.id })">Delete</a>
                </p>
            </div>
        }
        else
        {
            <p>@user.username have not post anything yet.</p>
        }
    </div>
}

